<div style="padding: 10px 0;">
<% form_for :milestone, @milestone, :url => { :action => "create" } do |f| %>
  <%= render :partial => "form", :locals => { :f => f, :submit_label => "Save changes" } %>
<% end %>
</div>