<%= link_to image_tag("/images/buttons/post_a_new_message.gif", :border => 0), :action => "new_color_scheme" %>

<% display_tip do %>
<p>
  Some color schemes may be locked.<br/>If it has the <%= image_tag('/images/icons/lock.png', :border => 0) %> next to it, you cannot delete it.
</p>
<% end %>