<% form_for :file_category, @file_category, :url => { :action => "update_file_category", :id => @file_category } do |f| %>
<fieldset>

  <%= display_flash(flash) %>
  
  <p>
    <label>Category Name</label>
    <%= f.text_field :name %>
  </p>
  
  <p class="submit">
    <%= submit_tag "Update Default Message Category" %>
    or <%= link_to "Cancel", backdoor_default_settings_path(:file_categories) %>
  </p>

</fieldset>
<% end %>