<% form_for :message_category, @message_category, :url => { :action => "update_message_category", :id => @message_category } do |f| %>
<fieldset>

  <%= display_flash(flash) %>
  
  <p>
    <label>Category Name</label>
    <%= f.text_field :name %>
  </p>
  
  <p class="submit">
    <%= submit_tag "Update Message Category" %>
    or <%= link_to "Cancel", main_settings_path(:message_categories) %>
  </p>

</fieldset>
<% end %>