<html>
  <head>
    <title>Task Bus</title>
    <%= stylesheet_link_tag "application", "forms" %>
  </head>
  <body style="background-color: #E5E5E5;">
      
    <div align="center" style="text-align: left; margin: 30px; padding: 40px; background-color: #fff; border-bottom: 2px solid #ccc; border-right: 2px solid #ccc;">
       <%= yield %>
    </div>
    
  </body>
</html>